* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul, li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
  }

  ._ibg{
    position: relative;

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  ._container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }

  ._title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
    line-height: 130%;
    text-align: center;
    color: #050C26;
  }

  ._text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #575859;
    max-width: 806px;
    align-items: center;
    margin: 0 auto;
  }

  .wrapper {
    overflow: hidden;
  }

  .header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
  }

  .header__container{
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    padding: 51px 0px 51px 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #050C26;
  }

  .header__nav{}

  .nav__list{
    display: flex;
    padding: 55px 0px 55px 0px;
  }

  .nav__item:not(:last-child){
    margin-right: 49px;
  }

  .nav__item:hover{
    .nav__link{
      color: #3988FF;
    }
    border-bottom: 1px solid #3988FF;
  }

  .nav__link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #575859;
  }

  .header__btn{
    padding: 40px 0px 40px 0px;
    button{
      background: #3988FF;
      padding: 15px 30px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #FFFFFF;
    }
  }

  .burger{
    width: 35px;
    height: 35px;
    position: relative;
    margin: 55px 0px 55px 0px;
    display: none;
  }


  .burger{
    span{
      display: inline-block;
      height: 3px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 4px;
      background: #575859;
    }
    span::after{
       content: ' ';
        height: 3px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 10px;
        background: #575859;
    }

    span:before{
      content: ' ';
      height: 3px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 20px;
      background: #575859;
    }
  }

  @media (max-width: 870px) {

    .nav__item:not(:last-child){
      margin-right: 30px;
    }
  }

  @media (max-width: 780px){
    .nav__item:not(:last-child){
      margin-right: 20px;
    }

    .header__btn{
      padding-top: 45px;
      button{
        padding: 10px 15px;
        font-style: normal;
        font-size: 14px;
      }
    }

    .nav__link{
      font-size: 14px;
    }

    .header__logo {
      font-size: 20px;
    }
  }

  @media (max-width: 580px) {
    .header__nav{
      display: none;
    }
    .burger{
      display: block;
    }
  }

.first-section{
  min-height: 958px;
}

.first-section__item{
  position: relative;
}

.fons{
  position: absolute;
  width: 100%;
  height: 954px;
  left: 0;
  top: 0;
}

.section__img{}

.first-section__item_container{
  position: relative;
  z-index: 3;
  top: 140px;
  display: flex;
}

.first-section__item-left{
  max-width: 570px;
  padding-top: 110px;
  align-items: center;
}

.first-section__item-left__title{
  margin-bottom: 25px;
  h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 69px;
    line-height: 120%;
    color: #050C26;
  }
  span{
    color: #3988FF;
  }
}

.first-section__item-left__text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  margin-bottom: 35px;
  padding-right: 70px;
}

.first-section__item-left__video{
  display: flex;
  align-items: center;
}

.first-section__item-left__video-logo{}

.vidio-logo__play{
  display: inline-block;
  padding: 24px 25px;
  border-radius: 50%;
  background: #FFF;
}

.first-section__item-left__title__video-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #050C26;
  padding: 0 25px;
}

.first-section__item-riht{
  margin-right: -200px;
  padding-top: 40px;
  align-items: center;
  img{
    width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 900px) {
  .first-section__item-left__title{
    margin-bottom: 25px;
    h1{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 59px;
      line-height: 120%;
      color: #050C26;
    }
  }
  .first-section__item-left__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #575859;
    margin-bottom: 35px;
    padding-right: 70px;
  }
}

@media (max-width: 769px) {
  .first-section__item-left__title{
    margin-bottom: 25px;
    h1{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 49px;
      line-height: 120%;
      color: #050C26;
    }
  }
}

@media (max-width: 660px) {
  .first-section__item-riht{
    display: none;
  }
  .first-section__item-left{
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .first-section__item-left__video{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .first-section__item-left__text{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
  }
}

@media (max-width: 425px) {
  .first-section__item-left__title{
    h1{
      font-size: 40px;
      line-height: 120%;
      color: #050C26;
    }
  }
  .first-section__item-left__text{
    font-size: 10px;
    line-height: 160%;
  }
}

.two-section{
  padding: 44.41px 0px;
}

.two-section__item{}

.two-section__item_container{}

.two-section__item-title{
  padding-top: 52px;
  margin-bottom: 25px;
}

.two-section__item-text{}

.two-section__item-content{
  display: flex;
  padding: 70px 0px;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: -95px;
  align-items: center;
}

.two-section__item-content_img{
  flex: 0 1 50%;
  padding-right: 45px;
  img{
    width: 100%;
  }
}

.two-section__item-content_grafs{
  flex: 0 1 50%;
  padding-left: 45px;
}

.two-section__item-content_line-block{
  width: 100%;
}

.two-section__item-content_line-one-imgs{
  img{
    max-width: 100%;
  }
  position: relative;
  margin-bottom: 45px;
}


.line-ne-img__color{
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}

.two-section__item-content_line-one-text{
  display: flex;
  justify-content: space-between;
}

.line-text__name{}

.line-text__number{
  padding: 10px 0px 25px 0px;
}

._red{
  color: red;
  padding: 10px 105px 25px 0px;
}

._oring{
  color: #DA5A12;
  padding: 10px 65px 25px 0px;
}

._green{
  color: #5BBB10;
  padding: 10px 130px 25px 0px;
}

._blue{
  color: #15C1CC;
  padding: 10px 105px 25px 0px;
}

@media (max-width:990px){
  .two-section__item-content_line-one-imgs{
    margin-bottom: 20px;
  }
}

@media (max-width:800px){
  .two-section__item-content_line-one-imgs{
    margin-bottom: 10px;
  }
  .line-text__number{
    padding: 5px 0px 25px 0px;
  }
}

@media (max-width: 740px){
  .two-section__item-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  .two-section__item-content_img{
    margin-bottom: 20px;
    padding-right: 0;
  }
  .two-section__item-content_grafs{
    padding-left: 0;
  }

  .two-section__item-title{
    font-size: 38px;
  }

  .two-section__item-text{
    font-size: 14px;
  }
}

@media (max-width: 640px){
  .two-section__item-title{
    font-size: 32px;
  }

  .two-section__item-text{
    font-size: 12px;
  }
}


@media (max-width: 545px){
  .two-section__item-title{
    font-size: 26px;
  }

}

.three-section{}

.three-section_container{}

.three-section_item{}

.three-section_item_title{
  padding: 48px 0 25px 0;
}

.three-section_item_text{}

.three-section_item-body{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 70px 0;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.three-section_item-body_colum{
  flex: 0 1 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
}

.three-section_item_colum-content{
  background: #FFFFFF;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  padding: 27px 22px;
}

.three-section_content-img{
  position: relative;
  margin-bottom: 30px;
}

.three-section_content-img-svgs{
  position: absolute;
  left: 40%;
  top: 34%;
}

.three-section_item_content-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
  margin-bottom: 15px;
}

.three-section_item_content-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  padding: 0 15px;
  margin-bottom: 25px;
}

.three-section_item_content-btn{
  button{
    background: #3988FF;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
  }
}


@media (max-width: 1136px){
  .three-section_item_content-text{
    padding: 0;
  }
}


@media (max-width: 1022px){
  .three-section_item_content-text{
    font-size: 12px;
  }
}

@media (max-width: 677px){
  .three-section_item-body_colum{
    flex: 0 1 50%;
  }

  .three-section_item_colum-content{
    margin-bottom: 20px;
  }
}

@media (max-width: 451px){
  .three-section_item-body_colum{
    flex: 0 1 100%;
  }
}

@media(max-width: 741px){
  .three-section_item_title{
    font-size: 38px;
  }
  
  .three-section_item_text{
    font-size: 14px;
  }
  
}
@media (max-width: 690px){
  .three-section_item_title{
    font-size: 32px;
  }

  .three-section_item_text{
    font-size: 12px;
  }
}


@media (max-width: 586px){
  .three-section_item_title{
    font-size: 26px;
  }
}

.four-section{}

.four-section_container{
  padding: 70px 0px;
}

.four-section-top{
  display: flex;
  margin-bottom: 10px;
}

.four-section-top_left{
  flex: 0 1 50%;
  margin-right: 50px;
}

.four-section-top_title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 140%;
    color: #050C26;
    margin-bottom: 25px;
    padding-left: 15px;
  }

.four-section-top_text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  padding-left: 15px;
}

.four-section-top_right{
  flex: 0 1 50%;
  margin-right: -100px;
  padding-left: 100px;
  img{
    max-width: 100%;
  }
}

.four-section-body{
  display: flex;
  flex-wrap: wrap;
}

.four-section-body_colum{
  flex: 0 1 33.33%;
  padding: 60px 15px;
}

.four-section-body_item{
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(300px);
  .four-section_img-fons{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.04;
    backdrop-filter: blur(300px);
  }
}

.four-section-body_item_content{
  position: relative;
  z-index: 5;
  background: #F3F3F3;
  border-radius: 10px;
  padding: 62px 29px;
}

.four-section-body_item_content-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
  margin-bottom: 20px;
}

.four-section-body_item_content-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  margin-bottom: 40px;
}

.four-section-body_item_content-icon{
  background: #FFFFFF;
  max-width: 60px;
  padding: 23px 0px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  .content-icon_static{
    display: block;
    margin: 0 auto;
  }
  .content-icon_activ{
    display: none;
    margin: 0 auto;
  }
}

.four-section-body_item:hover{
  .four-section_img-fons{
    opacity: 1;
  }
  .four-section-body_item_content{
    background: #D95B7A;
  }
  .four-section-body_item_content-title{
    color: #fff;
  }
  .four-section-body_item_content-text{
    color:#fff;
  }
  .content-icon_static{
    display: none;
  }
  .content-icon_activ{
    display: block;
  }
}

@media (max-width: 1043px) {
  .four-section-top_title{
    font-size: 38px;
  }
  .four-section-top_text{
    font-size: 14px;
  }
  .four-section-top_right{
    padding-left: 70px;
  }
}

@media (max-width: 986px) {
  .four-section-top_title{
    font-size: 32px;
  }
  .four-section-top_text{
    font-size: 12px;
  }
  .four-section-top_right{
    padding-left: 30px;
  }
}

@media (max-width: 700px) {
  .four-section-top_right{
    display: none;
  } 
  .four-section-top_left{
    flex: 0 1 100%;
    margin-right: 0;
  }
  .four-section-top{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width:1133px) {
  .four-section-body_item_content-title{
    font-size: 22px;
  }
}

@media (max-width:1057px) {
  .four-section-body_item_content-title{
    font-size: 18px;
  }
  .four-section-body_item_content-text{
    font-size: 12px;
  }
}

@media (max-width:957px) {
  .four-section-body_item_content-title{
    font-size: 16px;
  }

}

@media (max-width:907px) {
  .four-section-body_item_content-title{
    font-size: 14px;
  }
  .four-section-body_item_content-text{
    font-size: 10px;
  }
}

@media (max-width:857px) {
  .four-section-body{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .four-section-body_colum{
    flex: 0 1 50%;
  }
}

@media (max-width:631px) {
  .four-section-body_colum{
    flex: 0 1 100%;
  }
}

.five-section{}

.five-section_container{}

.five-section_item{}

.five-section_item_text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #575859;
  margin-bottom: 15px;
}

.five-section_item_title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #050C26;
  margin-bottom: 30px;
}

.five-section_item_block{
  max-width: 353px;
  max-height: 69px;
  border: 1px solid #1B45DA;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.five-section_item_block-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.five-section_item_block-btn{
  button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    background: #3988FF;
  }
}

.five-section_inner{
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  margin: -15px;
}

.five-section_inner_colum{
  flex: 0 1 33.33%;
  padding: 0 15px;
}

.five-section_inner_colum_block{
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
  border-radius: 10px;
}

.five-section_inner_colum_block_header{
  padding: 45px 0px;
  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.14);
  //border-radius: 10px 10px 0px 0px;
  position: relative;
}

.five-section_inner_colum_block_header-img{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.inner_colum_block_header-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
}

.five-section_inner_colum_block_body{
  padding: 40px 0px;
}

.inner_colum_block_content{}

.inner_colum_block_content-top{}

.inner_colum_block_content-top_price{
  margin-bottom: 15px;
}

.dollar{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #050C26;
}

.dollar_price{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #050C26;
}

.inner_colum_block_content-top_text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.inner_colum_block_content-list{
  padding: 40px 0px 30px 0px;
}

.inner_colum_block_content-list-item{}

.inner_colum_block_content-list-iner{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.inner_colum_block_content-list-iner:not(:last-child){
  margin-bottom: 15px;
}

.inner_colum_block_btn{
  button{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #3988FF;
    padding: 15px 30px;
    border: 1px solid #3988FF;
    border-radius: 5px;
    background: #FFF;
  }
}

.five-section_inner_colum_block:hover{
  .five-section_inner_colum_block_header{
    background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
    border-radius: 10px 10px 0px 0px;
  }

  .inner_colum_block_header-title{
    color: #FFFFFF;
  }

  .five-section_inner_colum_block_body{
    background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
    border-radius: 0px 0px 10px 10px;
  }

  .dollar{
    color: #FFF;
  }

  .dollar_price{
    color: #FFF;
  }

  .inner_colum_block_content-top_text{
    color: #FFF;
  }

  .inner_colum_block_content-list-iner{
    color: #FFF;
  }

  .inner_colum_block_btn{
    button{
      background: #3988FF;
      color: #FFF;
    }
  }
  .five-section_inner_colum_block_header-img{
    display: block;
  }
}

@media (max-width: 900px) {
  .inner_colum_block_header-title{
    font-size: 22px;
  }
  .dollar_price{
    font-size: 30px;
  }
  .inner_colum_block_content-top_text{
    font-size: 16px;
  }
  .inner_colum_block_content-list-iner{
    font-size: 17px;
  }
  .inner_colum_block_btn{
    button{
      font-size: 22px;
    }
  }
}

@media (max-width: 900px) {
  .inner_colum_block_header-title{
    font-size: 18px;
  }
  .dollar_price{
    font-size: 24px;
  }
  .inner_colum_block_content-top_text{
    font-size: 14px;
  }
  .inner_colum_block_content-list-iner{
    font-size: 12px;
  }
  .inner_colum_block_btn{
    button{
      font-size: 18px;
      padding: 10px 20px;
    }
  }
}

@media (max-width: 850px){
  
  .five-section_inner_colum{
   flex: 0 1 60%;
   margin: 0 auto;
   margin-bottom: 20px;
  }
  
}

@media (max-width: 600px){  
  .five-section_inner_colum{
   flex: 0 1 70%;
  }
  
}

@media (max-width: 600px){  
  .five-section_inner_colum{
   flex: 0 1 100%;
  }
  
}

@media (max-width: 364px){
  .five-section_item_title{
    font-size: 30px;
  }

  .five-section_item_block-btn{
    button{
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}

.six-section{
  padding: 140px 0;
}

.six-section_container{}

.six-section_item{}

.six-section_item_title{
  margin-bottom: 25px;
}

.six-section_item_text{
  margin-bottom: 70px;
}

.six-section_item_content{
  //opacity: 0.1;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  position: relative;
  padding: 60px 0px 0px 0px;
  background: url('../img/sex-section__line.svg')repeat;
}

.six-section_item_content-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.six-section_item_content-iner{
  flex: 0 1 50%;
  padding: 0px 0px 0px 60px 
}


.six-section_item_content-iner_top{
  display: flex;
  margin-bottom: 30px;
}

.six-section_item_content-iner_top-img{}

.six-section_item_content-iner_top-text{
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #050C26;
  //padding: 10px 95px 0px 0px;
  max-width: 380px;
  padding: 10px 10px 0px 0px;
}

.six-section_item_content-iner-bottom{
  display: flex;
}

.six-section_item_content-iner-bottom-foto{}

.six-section_item_content-iner-bottom-name{
  padding: 13px 30px;
}

.the__name{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #050C26;
  margin-bottom: 5px;
}

.the__profesion{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #575859;
}

.scroll_item-block{
  margin: 0 auto;
  text-align: center;
  padding: 50px 0px;
}

@media (max-width: 991px){
  .six-section_item_content-iner{
    padding: 0px 0px 0px 20px;
  }
  .six-section_item_content-iner_top-text{
    font-size: 16px;
    padding: 10px 45px 0px 0px;
  }
}

@media (max-width: 891px){
  .six-section_item_content-iner{
    padding: 0px 0px 0px 20px;
  }
  .six-section_item_content-iner_top-text{
    font-size: 16px;
    padding: 10px 20px 0px 10px;
  }
}

@media (max-width: 885px){
  .six-section_item_content-wrapper{
    flex-direction: column;
  }
  .six-section_item_content-iner{
    margin: 0 auto;
  }

  .six-section_item_content-iner_top-text{
    padding: 10px 20px 0px 10px;
  }
  .six-section_item_content-iner{
    padding-top: 10px;
  }
  .six-section_item_content-iner_top-img{
    display: none;
  }
}

@media (max-width:447px) {
  .six-section_item_content-iner_top-text{
    font-size: 16px;
  }

  .the__name{
    font-size: 16px;
  }

  .the__profesion{
    font-size: 14px;
  }

  .six-section_item_content-iner-bottom-name{
    padding: 13px 15px;
  }
}

@media (max-width:447px) {
  .six-section_item_content-iner_top-text{
    font-size: 14px;
  }
} 

@media (max-width: 656px){
  .six-section_item_title{
    font-size: 36px; 
  }

  .six-section_item_text{
  font-size: 16px;
  }
}

@media (max-width: 526px){
  .six-section_item_title{
    font-size: 30px; 
  }

  .six-section_item_text{
  font-size: 14px;
  }
}

.footer{
  background: #050C26;
}

._fot_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

._fot_item{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  padding: 5px 0px;
}

.footer_iner{}

.footer_iner_container{}

.footer_iner__content{
  display: flex;
  justify-content: space-between;
  padding: 75px 0px 79px 0px;
  border-bottom: 1px solid #FFFFFF;
  flex-wrap: wrap;
}

.footer_iner__content-innovated{
  max-width: 316px;
}

.footer_iner__content-innovated_title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer_iner__content-innovated_text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer_iner__content-service{}

.footer_iner__content-service_title{}

.footer_iner__content-service_list{}

.content-service_list-iner{}

.content-service_list-item{}

.footer_iner__content-support{}

.footer_iner__content-support_title{}

.footer_iner__content-support-list{}

.footer_iner__content-support-iner{}

.footer_iner__content-support-item{}

.footer_iner__content-contact{
  padding: 0px 50px 0px 0px;
}

.footer_iner__content-contact_title{}

.footer_iner__content-contact_text{
  padding: 5px 0px 10px 0px;
  a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    letter-spacing: 1px;
  }
}

.footer_iner__content-contact_icons{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 155px;
}

.footer_iner__content-contact_icons-fb{}

.footer_iner__content-contact_icons-inst{}

.footer_iner__content-contact_icons-twit{}

.footer_iner__content-contact_icons-google{}

.footer_iner__content-contact-btn{
  button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 15px 30px;
    background: #3988FF;
    border-radius: 5px;
  }
}

.the__end{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  text-align: center;
  padding: 30px 0px;
}

@media (max-width: 950px){
  .footer_iner__content-innovated{
      flex: 0 1 50%;
      margin-bottom: 20px;
  }

  .footer_iner__content-service{
      flex: 0 1 50%;  
      margin-bottom: 20px;  
  }

  .footer_iner__content-support{
      flex: 0 1 50%; 
      margin-bottom: 20px;
  }
  
  .footer_iner__content-contact{
     flex: 0 1 50%
  }
}

@media (max-width: 670px){
  
  .footer_iner__content{
    justify-content: center;
    text-align: center;
  }

  .footer_iner__content-innovated{
      flex: 0 1 100%;
      margin-bottom: 20px;
  }

  .footer_iner__content-service{
      flex: 0 1 100%;  
      margin-bottom: 20px; 
  }

  .footer_iner__content-support{
      flex: 0 1 100%; 
      margin-bottom: 20px;
  }
  
  .footer_iner__content-contact{
     flex: 0 1 100%
  }
  .footer_iner__content-contact_icons{
    margin: 10px auto;
  }
  .footer_iner__content-contact{
    padding: 0px 0px 0px 0px;
  }
}