* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

._title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  text-align: center;
  color: #050C26;
}

._text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  max-width: 806px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 51px 0px 51px 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #050C26;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 55px 0px 55px 0px;
}

.nav__item:not(:last-child) {
  margin-right: 49px;
}

.nav__item:hover {
  border-bottom: 1px solid #3988FF;
}

.nav__item:hover .nav__link {
  color: #3988FF;
}

.nav__link {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-transform: capitalize;
  color: #575859;
}

.header__btn {
  padding: 40px 0px 40px 0px;
}

.header__btn button {
  background: #3988FF;
  padding: 15px 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}

.burger {
  width: 35px;
  height: 35px;
  position: relative;
  margin: 55px 0px 55px 0px;
  display: none;
}

.burger span {
  display: inline-block;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 4px;
  background: #575859;
}

.burger span::after {
  content: ' ';
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  background: #575859;
}

.burger span:before {
  content: ' ';
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 20px;
  background: #575859;
}

@media (max-width: 870px) {
  .nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 780px) {
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
  .header__btn {
    padding-top: 45px;
  }
  .header__btn button {
    padding: 10px 15px;
    font-style: normal;
    font-size: 14px;
  }
  .nav__link {
    font-size: 14px;
  }
  .header__logo {
    font-size: 20px;
  }
}

@media (max-width: 580px) {
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
  }
}

.first-section {
  min-height: 958px;
}

.first-section__item {
  position: relative;
}

.fons {
  position: absolute;
  width: 100%;
  height: 954px;
  left: 0;
  top: 0;
}

.first-section__item_container {
  position: relative;
  z-index: 3;
  top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section__item-left {
  max-width: 570px;
  padding-top: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section__item-left__title {
  margin-bottom: 25px;
}

.first-section__item-left__title h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 69px;
  line-height: 120%;
  color: #050C26;
}

.first-section__item-left__title span {
  color: #3988FF;
}

.first-section__item-left__text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  margin-bottom: 35px;
  padding-right: 70px;
}

.first-section__item-left__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vidio-logo__play {
  display: inline-block;
  padding: 24px 25px;
  border-radius: 50%;
  background: #FFF;
}

.first-section__item-left__title__video-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #050C26;
  padding: 0 25px;
}

.first-section__item-riht {
  margin-right: -200px;
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section__item-riht img {
  width: 100%;
  max-height: 100%;
}

@media (max-width: 900px) {
  .first-section__item-left__title {
    margin-bottom: 25px;
  }
  .first-section__item-left__title h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 120%;
    color: #050C26;
  }
  .first-section__item-left__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #575859;
    margin-bottom: 35px;
    padding-right: 70px;
  }
}

@media (max-width: 769px) {
  .first-section__item-left__title {
    margin-bottom: 25px;
  }
  .first-section__item-left__title h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 120%;
    color: #050C26;
  }
}

@media (max-width: 660px) {
  .first-section__item-riht {
    display: none;
  }
  .first-section__item-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .first-section__item-left__video {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-section__item-left__text {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px;
  }
}

@media (max-width: 425px) {
  .first-section__item-left__title h1 {
    font-size: 40px;
    line-height: 120%;
    color: #050C26;
  }
  .first-section__item-left__text {
    font-size: 10px;
    line-height: 160%;
  }
}

.two-section {
  padding: 44.41px 0px;
}

.two-section__item-title {
  padding-top: 52px;
  margin-bottom: 25px;
}

.two-section__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-left: -95px;
  align-items: center;
}

.two-section__item-content_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 45px;
}

.two-section__item-content_img img {
  width: 100%;
}

.two-section__item-content_grafs {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-left: 45px;
}

.two-section__item-content_line-block {
  width: 100%;
}

.two-section__item-content_line-one-imgs {
  position: relative;
  margin-bottom: 45px;
}

.two-section__item-content_line-one-imgs img {
  max-width: 100%;
}

.line-ne-img__color {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}

.two-section__item-content_line-one-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line-text__number {
  padding: 10px 0px 25px 0px;
}

._red {
  color: red;
  padding: 10px 105px 25px 0px;
}

._oring {
  color: #DA5A12;
  padding: 10px 65px 25px 0px;
}

._green {
  color: #5BBB10;
  padding: 10px 130px 25px 0px;
}

._blue {
  color: #15C1CC;
  padding: 10px 105px 25px 0px;
}

@media (max-width: 990px) {
  .two-section__item-content_line-one-imgs {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .two-section__item-content_line-one-imgs {
    margin-bottom: 10px;
  }
  .line-text__number {
    padding: 5px 0px 25px 0px;
  }
}

@media (max-width: 740px) {
  .two-section__item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  .two-section__item-content_img {
    margin-bottom: 20px;
    padding-right: 0;
  }
  .two-section__item-content_grafs {
    padding-left: 0;
  }
  .two-section__item-title {
    font-size: 38px;
  }
  .two-section__item-text {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .two-section__item-title {
    font-size: 32px;
  }
  .two-section__item-text {
    font-size: 12px;
  }
}

@media (max-width: 545px) {
  .two-section__item-title {
    font-size: 26px;
  }
}

.three-section_item_title {
  padding: 48px 0 25px 0;
}

.three-section_item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding: 70px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.three-section_item-body_colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 15px;
}

.three-section_item_colum-content {
  background: #FFFFFF;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  padding: 27px 22px;
}

.three-section_content-img {
  position: relative;
  margin-bottom: 30px;
}

.three-section_content-img-svgs {
  position: absolute;
  left: 40%;
  top: 34%;
}

.three-section_item_content-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
  margin-bottom: 15px;
}

.three-section_item_content-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  padding: 0 15px;
  margin-bottom: 25px;
}

.three-section_item_content-btn button {
  background: #3988FF;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 1136px) {
  .three-section_item_content-text {
    padding: 0;
  }
}

@media (max-width: 1022px) {
  .three-section_item_content-text {
    font-size: 12px;
  }
}

@media (max-width: 677px) {
  .three-section_item-body_colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .three-section_item_colum-content {
    margin-bottom: 20px;
  }
}

@media (max-width: 451px) {
  .three-section_item-body_colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 741px) {
  .three-section_item_title {
    font-size: 38px;
  }
  .three-section_item_text {
    font-size: 14px;
  }
}

@media (max-width: 690px) {
  .three-section_item_title {
    font-size: 32px;
  }
  .three-section_item_text {
    font-size: 12px;
  }
}

@media (max-width: 586px) {
  .three-section_item_title {
    font-size: 26px;
  }
}

.four-section_container {
  padding: 70px 0px;
}

.four-section-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.four-section-top_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 50px;
}

.four-section-top_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  color: #050C26;
  margin-bottom: 25px;
  padding-left: 15px;
}

.four-section-top_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  padding-left: 15px;
}

.four-section-top_right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: -100px;
  padding-left: 100px;
}

.four-section-top_right img {
  max-width: 100%;
}

.four-section-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.four-section-body_colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 60px 15px;
}

.four-section-body_item {
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
}

.four-section-body_item .four-section_img-fons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  opacity: 0.04;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
}

.four-section-body_item_content {
  position: relative;
  z-index: 5;
  background: #F3F3F3;
  border-radius: 10px;
  padding: 62px 29px;
}

.four-section-body_item_content-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
  margin-bottom: 20px;
}

.four-section-body_item_content-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  margin-bottom: 40px;
}

.four-section-body_item_content-icon {
  background: #FFFFFF;
  max-width: 60px;
  padding: 23px 0px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}

.four-section-body_item_content-icon .content-icon_static {
  display: block;
  margin: 0 auto;
}

.four-section-body_item_content-icon .content-icon_activ {
  display: none;
  margin: 0 auto;
}

.four-section-body_item:hover .four-section_img-fons {
  opacity: 1;
}

.four-section-body_item:hover .four-section-body_item_content {
  background: #D95B7A;
}

.four-section-body_item:hover .four-section-body_item_content-title {
  color: #fff;
}

.four-section-body_item:hover .four-section-body_item_content-text {
  color: #fff;
}

.four-section-body_item:hover .content-icon_static {
  display: none;
}

.four-section-body_item:hover .content-icon_activ {
  display: block;
}

@media (max-width: 1043px) {
  .four-section-top_title {
    font-size: 38px;
  }
  .four-section-top_text {
    font-size: 14px;
  }
  .four-section-top_right {
    padding-left: 70px;
  }
}

@media (max-width: 986px) {
  .four-section-top_title {
    font-size: 32px;
  }
  .four-section-top_text {
    font-size: 12px;
  }
  .four-section-top_right {
    padding-left: 30px;
  }
}

@media (max-width: 700px) {
  .four-section-top_right {
    display: none;
  }
  .four-section-top_left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-right: 0;
  }
  .four-section-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1133px) {
  .four-section-body_item_content-title {
    font-size: 22px;
  }
}

@media (max-width: 1057px) {
  .four-section-body_item_content-title {
    font-size: 18px;
  }
  .four-section-body_item_content-text {
    font-size: 12px;
  }
}

@media (max-width: 957px) {
  .four-section-body_item_content-title {
    font-size: 16px;
  }
}

@media (max-width: 907px) {
  .four-section-body_item_content-title {
    font-size: 14px;
  }
  .four-section-body_item_content-text {
    font-size: 10px;
  }
}

@media (max-width: 857px) {
  .four-section-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .four-section-body_colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 631px) {
  .four-section-body_colum {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.five-section_item_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #575859;
  margin-bottom: 15px;
}

.five-section_item_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #050C26;
  margin-bottom: 30px;
}

.five-section_item_block {
  max-width: 353px;
  max-height: 69px;
  border: 1px solid #1B45DA;
  border-radius: 5px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.five-section_item_block-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.five-section_item_block-btn button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  padding: 10px 20px;
  background: #3988FF;
}

.five-section_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  margin: -15px;
}

.five-section_inner_colum {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0 15px;
}

.five-section_inner_colum_block {
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
          box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
  border-radius: 10px;
}

.five-section_inner_colum_block_header {
  padding: 45px 0px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.14);
          box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.14);
  position: relative;
}

.five-section_inner_colum_block_header-img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.inner_colum_block_header-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
}

.five-section_inner_colum_block_body {
  padding: 40px 0px;
}

.inner_colum_block_content-top_price {
  margin-bottom: 15px;
}

.dollar {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #050C26;
}

.dollar_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  text-align: center;
  color: #050C26;
}

.inner_colum_block_content-top_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.inner_colum_block_content-list {
  padding: 40px 0px 30px 0px;
}

.inner_colum_block_content-list-iner {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.inner_colum_block_content-list-iner:not(:last-child) {
  margin-bottom: 15px;
}

.inner_colum_block_btn button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #3988FF;
  padding: 15px 30px;
  border: 1px solid #3988FF;
  border-radius: 5px;
  background: #FFF;
}

.five-section_inner_colum_block:hover .five-section_inner_colum_block_header {
  background: -webkit-gradient(linear, left top, left bottom, from(#D95374), to(#D32852));
  background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
  border-radius: 10px 10px 0px 0px;
}

.five-section_inner_colum_block:hover .inner_colum_block_header-title {
  color: #FFFFFF;
}

.five-section_inner_colum_block:hover .five-section_inner_colum_block_body {
  background: -webkit-gradient(linear, left top, left bottom, from(#D9315A), to(#F3678A));
  background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
  border-radius: 0px 0px 10px 10px;
}

.five-section_inner_colum_block:hover .dollar {
  color: #FFF;
}

.five-section_inner_colum_block:hover .dollar_price {
  color: #FFF;
}

.five-section_inner_colum_block:hover .inner_colum_block_content-top_text {
  color: #FFF;
}

.five-section_inner_colum_block:hover .inner_colum_block_content-list-iner {
  color: #FFF;
}

.five-section_inner_colum_block:hover .inner_colum_block_btn button {
  background: #3988FF;
  color: #FFF;
}

.five-section_inner_colum_block:hover .five-section_inner_colum_block_header-img {
  display: block;
}
/*# sourceMappingURL=style.css.map */